/* paleta de colores primario segundario y terceario */
:root {
        --color-primary: #5d3aaf;
        --color-secondary: #08B64F;
        --color-terceary: #e74c3c;
        
        --color-fondo: #a3a3a3;
        --color-fondo2:  #e8ebe9;

        --color-negativo: #000000;
        --color-positivo: #ffffff;
}